# Binaries
got
releases/got
releases/server
releases/got-windows-amd64.exe
releases/server-windows-amd64.exe
releases/server-linux-amd64
releases/got-linux-amd64

# Logs
*.log
vite.log
tunnel.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Go
go.sum
